.clear{
 clear: both;
}
.wrapper{
 width: 1920px;
 margin:  50px auto;
}
.header{
 background-color: aqua;
 width: 100%;
 height: 200px;
 border-radius: 5px;
}
.top_menu{
 background-color: darkgoldenrod;
 width: 100%;
 height: 200px;
 margin-top: 5px;
 position: relative;
}
.knopka{
 display: none;
 width: 32px;
 height: 21px;
 top: 2px;
 left: 6px;
 background-color: blue;
 border-radius: 2px;
 position: absolute;
}
.lan{
 width: 29px;
 height: 3px;
 background-color: darkolivegreen;
 margin: 3px auto;
}
.sideLeft{
 background-color: brown;
 width: 30%;
 height: 354px;
 margin-top: 5px;
 padding: 1px 0;
 float: left;
}
.bar{
 background-color: burlywood;
 border-radius: 5px;
 border: 1px solid coral;
 margin: 3px auto;
 width: 95%;
 height: 110px;
}
.content{
 background-color: antiquewhite;
 width: 69%;
 margin-top: 5px;
 height: 355px;
 float: right;
}
.footer{
 background-color: darkslateblue;
 width: 100%;
 margin-top: 5px;
 height: 70px;
}
